@page
@model MyScriptureJournal.Pages.ScripturesClass.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScriptureClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureClass.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureClass.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureClass.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureClass.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureClass.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureClass.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureClass.Verse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureClass.Verse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureClass.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureClass.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScriptureClass?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
